<a href="http://dibit.fomalhaut.uberspace.de/dibitNodeFramework/">Home</a> |
<a href="http://dibit.fomalhaut.uberspace.de/dibitNodeFramework/addReport">Add-Report</a> |
<a href="http://dibit.fomalhaut.uberspace.de/dibitNodeFramework/showReports">Show-Reports</a>